{% extends 'base.html' %}

{% load static%}
{% block content %}

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Facilities — Mom's Lap</title>

	<link rel="apple-touch-icon" sizes="180x180" href=" {% static 'assets/img/fav/apple-touch-icon.png' %} ">
	<link rel="icon" type="image/png" sizes="32x32" href=" {% static 'assets/img/fav/favicon-32x32.png' %} ">
	<link rel="icon" type="image/png" sizes="16x16" href=" {% static 'assets/img/fav/favicon-16x16.png' %} ">
	<link rel="mask-icon" href=" {% static 'assets/img/fav/safari-pinned-tab.svg' %} " color="#fa7070">

	<meta name="msapplication-TileColor" content="#fa7070">
	<meta name="theme-color" content="#fa7070">

	<link rel="stylesheet" href=" {% static 'assets/dependencies/fontawesome/css/all.min.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/swiper/css/swiper.min.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/wow/css/animate.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/magnific-popup/css/magnific-popup.css' %} "
		type="text/css">
	<link rel="stylesheet"
		href=" {% static 'assets/dependencies/components-elegant-icons/css/elegant-icons.min.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/simple-line-icons/css/simple-line-icons.css' %} "
		type="text/css">

	<link rel="stylesheet" href=" {% static 'assets/css/app.css' %} " type="text/css">

	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&amp;family=Satisfy&amp;display=swap"
		rel="stylesheet">



</head>

<body id="home-version-1" class="home-version-1" data-style="default">

	<a href="#main_content" data-type="section-switch" class="return-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>

	<div class="page-loader">
		<div class="loader">
			<div class="blobs">
				<div class="blob-center"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
			</div>
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
				<defs>
					<filter id="goo">
						<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
						<feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
						<feBlend in="SourceGraphic" in2="goo" />
					</filter>
				</defs>
			</svg>

		</div>
	</div>

	<div id="main_content">
		<section class="page-banner">
			<div class="container">
				<div class="page-title-wrapper">
					<h1 class="page-title">Facilities</h1>

					<ul class="bradcurmed">
						<li><a href="{% url 'Home' %}" rel="noopener noreferrer">Home</a></li>
						<li>Facilities</li>
					</ul>
				</div>
			</div>

			<svg class="circle" data-parallax='{"x" : -200}' xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" width="950px" height="950px">
				<path fill-rule="evenodd" stroke="rgb(250, 112, 112)" stroke-width="100px" stroke-linecap="butt"
					stroke-linejoin="miter" opacity="0.051" fill="none"
					d="M450.000,50.000 C670.914,50.000 850.000,229.086 850.000,450.000 C850.000,670.914 670.914,850.000 450.000,850.000 C229.086,850.000 50.000,670.914 50.000,450.000 C50.000,229.086 229.086,50.000 450.000,50.000 Z" />
			</svg>

			<ul class="animate-ball">
				<li class="ball"></li>
				<li class="ball"></li>
				<li class="ball"></li>
				<li class="ball"></li>
				<li class="ball"></li>
			</ul>
		</section>
		<section class="service">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="popup-videos wow pixFadeRight">
							<div class="video-thumbnail">
								<img src="{% static 'assets\img\pexels-anna-shvets-3845407.jpg' %} " alt="thumbnail" style="width:430px;height:470px;">
							</div>
							<br><br>
							<!-- <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="play-btn popup-video"><i class="ei ei-arrow_triangle-right"></i></a> -->
						</div>
					</div>

					<div class="col-lg-7">
						<div class="service-content">
							<div class="section-title">
								<h3 class="sub-title wow pixFadeUp" data-wow-delay="0.3s">Our Service</h3>

								<h2 class="title wow pixFadeUp" data-wow-delay="0.5s">
									കേരളത്തിലെ മികച്ച പ്രസവാനന്തര ചികിത്സകൾ ഇനി  മലപ്പുറത്തും 
								</h2>
							</div>

							<p class="wow pixFadeUp" data-wow-delay="0.7s" style="text-align:justify;">
								പ്രസവശേഷം ജനിക്കുന്നത് കുഞ്ഞിനോടൊപ്പം തന്നെ ഒരു അമ്മയുമാണ്. ഇവർ ഇരുവർക്കുമായുള്ള മികച്ച പ്രസവാനന്തര ചികിത്സകൾ ഇരുവരുടെയും ആരോഗ്യം മെച്ചപ്പെടുത്തുന്നതിൽ വളരെയധികം സ്വാധീനം ചെലുത്തുന്നുണ്ട്.  
								<br>
							</p>
						</div>
					</div>
				
					<p class="wow pixFadeUp" data-wow-delay="0.7s" style="text-align:justify;">പ്രസവശേഷം  അമ്മയിൽ കാണപ്പെടുന്ന മാനസികവും ശാരീരികവുമായ മാറ്റങ്ങളെ വിലയിരുത്തി അനുയോജ്യമായ ചികിത്സകളും പരിചരണങ്ങളും MOM’S LAP നൽകിവരുന്നു. പ്രസവശേഷമുള്ള അമ്മയുടെയും കുഞ്ഞിൻ്റെയും പരിപൂർണ്ണ പരിചരണവും വൈദ്യസഹായവും MOM’S LAP-ൻ്റെ പ്രസവാനന്തര ചികിത്സ പാക്കേജുകളിൽ ഉൾപ്പെടുത്തിയിരിക്കുന്നു. പ്രാചീന ചികിത്സാ സംബ്രതായങ്ങൾ മുൻനിർത്തി പ്രവർത്തിക്കുന്ന ആരോഗ്യ കേന്ദ്രമായത്കൊണ്ടുതന്നെ  MOM 'S LAP തനി നടൻ  പോഷകമടങ്ങിയ ഭക്ഷണമാണ് നല്കയ വരുന്നത്.</p>

				</div>
			</div>
		</section>

		<section class="featured-two-service">
			<div class="container">
				<div class="section-title text-center">
					<h3 class="sub-title wow pixFadeUp">Our service</h3>
					<h2 class="title wow pixFadeUp" data-wow-delay="0.3s">MOM’S LAPൽ ഉൾകൊള്ളുന്ന ഫെസിലിറ്റീസ് </h2>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="saaspik-icon-box-wrapper style-two wow pixFadeUp" data-wow-delay="0.3s">
							<div class="saaspik-icon-box-icon">
								<img src=" {% static 'assets/media/feature/6.png' %} " alt="">
							</div>
							<div class="pixsass-icon-box-content">
								<h3 class="pixsass-icon-box-title"><a href="#">വിശാലമായ താമസം </a></h3>
								<p>വിശാലവും സൗകര്യപ്രദവുമായ താമസ സൗകര്യങ്ങൾ.
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="saaspik-icon-box-wrapper style-two wow pixFadeUp" data-wow-delay="0.5s">
							<div class="saaspik-icon-box-icon">
								<img src="{% static 'assets/media/feature/7.png' %} " alt="">
							</div>
							<div class="pixsass-icon-box-content">
								<h3 class="pixsass-icon-box-title"><a href="#">പോഷകാഹാരങ്ങൾ</a></h3>

								<p>പോഷക സമൃദ്ധമായ തനി നാടൻ ഭക്ഷണ രീതികൾ.
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="saaspik-icon-box-wrapper style-two wow pixFadeUp" data-wow-delay="0.7s">
							<div class="saaspik-icon-box-icon">
								<img src=" {% static 'assets/media/feature/8.png' %} " alt="">
							</div>
							<div class="pixsass-icon-box-content">
								<h3 class="pixsass-icon-box-title"><a href="#">ആയുർവേദ മരുന്നുകൾ </a></h3>
								<p>ശ്രേഷ്ഠമായ ആയുർവേദ മരുന്നുകളും ആയുർവേദ കുളിയും.
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="saaspik-icon-box-wrapper style-two wow pixFadeUp" data-wow-delay="0.9s">
							<div class="saaspik-icon-box-icon">
								<img src=" {% static 'assets/media/feature/9.png' %} " alt="">
							</div>
							<div class="pixsass-icon-box-content">
								<h3 class="pixsass-icon-box-title"><a href="#">വിദഗ്ദരായ ഡോക്ടർസ് </a></h3>
								<p>വിദഗ്ദരായ ഡോക്ടർമാരുടെ മേൽനോട്ടവും പരിചാരവും.!
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="saaspik-icon-box-wrapper style-two wow pixFadeUp" data-wow-delay="1s">
							<div class="saaspik-icon-box-icon">
								<img src=" {% static 'assets/media/feature/10.png' %} " alt="">
							</div>
							<div class="pixsass-icon-box-content">
								<h3 class="pixsass-icon-box-title"><a href="#">പരിപൂർണ്ണ  പരിചരണം </a></h3>
								<p>അമ്മയുടെയും കുഞ്ഞിൻ്റെയും പരിപൂർണ്ണ പരിചരണം.
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="saaspik-icon-box-wrapper style-two wow pixFadeUp" data-wow-delay="1.2s">
							<div class="saaspik-icon-box-icon">
								<img src=" {% static 'assets/media/feature/11.png' %} " alt="">
							</div>
							<div class="pixsass-icon-box-content">
								<h3 class="pixsass-icon-box-title"><a href="#">NORMAL/ VIP പാക്കേജുകൾ </a></h3>
								<p>കസ്റ്റമേഴ്സിൻ്റെ ഇഷ്ടപ്രകാരം തിരങ്ങെടുക്കാവുന്ന പാക്കേജുകൾ.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="pricing-service">
			<div class="container">
				<div class="section-title text-center">
					<h3 class="sub-title wow pixFadeUp">Pricing Plan</h3>
					<h2 class="title wow pixFadeUp" data-wow-delay="0.2s">
						No Hidden Charges! Choose <br>
						your Plan.
					</h2>
				</div>

				<div class="pricing-tab wow pixFadeUp" data-wow-delay="0.3s">
					<span class="monthly_tab_title tab-btn" id="vipbtn">
						VIP
					</span>
					<span class="pricing-tab-switcher"></span>
					<span class="annual_tab_title tab-btn" id="normalbtn">
						NORMAL
					</span>
				</div>

			<div id="normal">
				<h2  class="title wow pixFadeUp text-center" data-wow-delay="0.2s">Normal Plan</h2>
				<div class="row advanced-pricing-table no-gutters wow pixFadeUp" data-wow-delay="0.5s" >
					
						{% for package in normal %}
						<div class="col-lg-4" >
							<div class="pricing-table br-left">
								<div class="pricing-header pricing-amount">
									<div class="annual_price">
										<h2 class="price">{{ package.price }}</h2>
									</div>

									<div class="monthly_price">
										<h2 class="price">{{ package.price }}</h2>
									</div>

									<h3 class="price-title">{{ package.plan_name }}</h3>

								</div>

								<p>{{package.content|safe}}</p>

							</div>
						</div>
						{% endfor %}
				</div>
			</div>
			<div id="vip">	
				<h2 class="title wow pixFadeUp text-center" data-wow-delay="0.2s">VIP Plan</h2>
				<div class="row advanced-pricing-table no-gutters wow pixFadeUp" data-wow-delay="0.5s" id="vip">
					
						{% for package in vip %}
						<div class="col-lg-4" >
							<div class="pricing-table br-left">
								<div class="pricing-header pricing-amount">
									<div class="annual_price">
										<h2 class="price">{{ package.price }}</h2>
									</div>

									<div class="monthly_price">
										<h2 class="price">{{ package.price }}</h2>
									</div>

									<h3 class="price-title">{{ package.plan_name }}</h3>

								</div>

								<p>{{package.content|safe}}</p>

							</div>
						</div>
						{% endfor %}
				</div>

			</div>
		</div>
		</section>





		{% comment %}
		<section class="pricing-service">
			<div class="container">
				<div class="section-title text-center">
					<h3 class="sub-title wow pixFadeUp">Pricing Plan</h3>
					<h2 class="title wow pixFadeUp" data-wow-delay="0.2s">
						No Hidden Charges! Choose <br>
						your Plan.
					</h2>
				</div>
				<!-- /.section-title -->
				<nav class="pricing-tab wow pixFadeUp" data-wow-delay="0.3s">
					<span class="monthly_tab_title tab-btn">
						Monthly
					</span>
					<span class="pricing-tab-switcher"></span>
					<span class="annual_tab_title tab-btn">
						Annual
					</span>
				</nav>

				<div class="row advanced-pricing-table no-gutters wow pixFadeUp" data-wow-delay="0.5s">
								<div class="monthly_price">
									<h2 class="price">$0.00</h2>
								</div>
								<!-- /.monthly_price -->

								<h3 class="price-title">Basic Account</h3>
							</div>
							<!-- /.pricing-header -->

							<ul class="price-feture">
								<li class="have">Limited Acess Library</li>
								<li class="have">Single User</li>
								<li class="have">eCommerce Store</li>
								<li class="not">Hotline Support 24/7</li>
								<li class="not">No Updates</li>
							</ul>

							<div class="action text-center">
								<a href="#" class="pix-btn btn-outline">Get Started</a>
							</div>
						
						<!-- /.pricing-table -->
					
					<!-- /.col-lg-4 -->

					<div class="col-lg-4">
						<div class="pricing-table color-two">
							<div class="pricing-header pricing-amount">
								<div class="annual_price">
									<h2 class="price">32000</h2>
								</div>
								<!-- /.annual_price -->

								<div class="monthly_price">
									<h2 class="price">47000</h2>
								</div>
								<!-- /.monthly_price -->

								<h3 class="price-title">21 day plan</h3>
								
							</div>
							<!-- /.pricing-header -->

							<ul class="price-feture">
								<li class="have">Limited Acess Library</li>
								<li class="have">Single User</li>
								<li class="have">eCommerce Store</li>
								<li class="have">Hotline Support 24/7</li>
								<li class="not">No Updates</li>
							</ul>

							<div class="action text-center">
								<a href="#" class="pix-btn btn-outline">Get Started</a>
							</div>
						</div>
						<!-- /.pricing-table -->
					</div>
					<!-- /.col-lg-4 -->

					<div class="col-lg-4">
						<div class="pricing-table color-three">

							<div class="pricing-header pricing-amount">
								<div class="annual_price">
									<h2 class="price">45000</h2>
								</div>
								<!-- /.annual_price -->

								<div class="monthly_price">
									<h2 class="price">60000</h2>
								</div>
								<!-- /.monthly_price -->

								<h3 class="price-title">30 day plan</h3>
								
							</div>
							<!-- /.pricing-header -->

							<ul class="price-feture">
								<li class="have">Limited Acess Library</li>
								<li class="have">Single User</li>
								<li class="have">eCommerce Store</li>
								<li class="have">Hotline Support 24/7</li>
								<li class="have">No Updates</li>
							</ul>

							<div class="action text-center">
								<a href="#" class="pix-btn btn-outline">Get Started</a>
							</div>
						</div>
						<!-- /.pricing-table -->
					</div>
					<!-- /.col-lg-4 -->
			</div>
					{% endcomment %}

		<section class="newsletter-two" id="newsletter">
			<div class="container">

					<h2 class="title text-center">
						മാതൃ മടിത്തട്ടിൽ മമസ്‌നേഹം പോലെ 
					</h2>
				</div>
			</div>
		</section>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

	<script>
		$(document).ready(function(){
			$('#normal').hide()
			$('#vip').show()
			$('#vipbtn').click(function(){
				$('#normal').hide()
				$('#vip').show()
			})	
		})
		$('#normalbtn').click(function(){
			$('#normal').show()
			$('#vip').hide()
		})
	</script>

	<script src=" {% static 'assets/dependencies/jquery/jquery.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/bootstrap/js/bootstrap.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/swiper/js/swiper.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/jquery.appear/jquery.appear.js' %} "></script>
	<script src=" {% static 'assets/dependencies/wow/js/wow.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/countUp.js/countUp.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/isotope-layout/isotope.pkgd.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/imagesloaded/imagesloaded.pkgd.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/jquery.parallax-scroll/js/jquery.parallax-scroll.js' %} "></script>
	<script src=" {% static 'assets/dependencies/magnific-popup/js/jquery.magnific-popup.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/gmap3/js/gmap3.min.js' %} "></script>
	<script type='text/javascript'
		src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&amp;ver=2.1.6'></script>

	<script src=" {% static 'assets/js/header.js' %} "></script>
	<script src=" {% static 'assets/js/app.js' %} "></script>


</body>

{% endblock %}

</html>