{% extends 'base.html' %}

{% load static %}
{% block content %}

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Specialities — Mom's Lap</title>

	<link rel="apple-touch-icon" sizes="180x180" href=" {% static 'assets/img/fav/apple-touch-icon.png' %} ">
	<link rel="icon" type="image/png" sizes="32x32" href=" {% static 'assets/img/fav/favicon-32x32.png' %} ">
	<link rel="icon" type="image/png" sizes="16x16" href=" {% static 'assets/img/fav/favicon-16x16.png' %} ">
	<link rel="mask-icon" href=" {% static 'assets/img/fav/safari-pinned-tab.svg' %} " color="#fa7070">

	<meta name="msapplication-TileColor" content="#fa7070">
	<meta name="theme-color" content="#fa7070">

	<link rel="stylesheet" href=" {% static 'assets/dependencies/fontawesome/css/all.min.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/swiper/css/swiper.min.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/wow/css/animate.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/magnific-popup/css/magnific-popup.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/components-elegant-icons/css/elegant-icons.min.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/simple-line-icons/css/simple-line-icons.css' %} " type="text/css">

	<link rel="stylesheet" href=" {% static 'assets/css/app.css' %} " type="text/css">

	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&amp;family=Satisfy&amp;display=swap" rel="stylesheet">



</head>

<body id="home-version-1" class="home-version-1" data-style="default">

	<a href="#main_content" data-type="section-switch" class="return-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>

	<div class="page-loader">
		<div class="loader">
			<div class="blobs">
				<div class="blob-center"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
			</div>
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
				<defs>
					<filter id="goo">
						<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
						<feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
						<feBlend in="SourceGraphic" in2="goo" />
					</filter>
				</defs>
			</svg>

		</div>
	</div>

	<div id="main_content">
		<section class="page-banner">
			<div class="container">
				<div class="page-title-wrapper">
					<h1 class="page-title">Our Speciality</h1>

					<ul class="bradcurmed">
						<li><a href="{% url 'Home' %}" rel="noopener noreferrer">Home</a></li>
						<li>Specialities</li>
					</ul>
				</div>
			</div>

			<svg class="circle" data-parallax='{"x" : -200}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="950px" height="950px">
				<path fill-rule="evenodd" stroke="rgb(250, 112, 112)" stroke-width="100px" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.051" fill="none" d="M450.000,50.000 C670.914,50.000 850.000,229.086 850.000,450.000 C850.000,670.914 670.914,850.000 450.000,850.000 C229.086,850.000 50.000,670.914 50.000,450.000 C50.000,229.086 229.086,50.000 450.000,50.000 Z" />
			</svg>

			<ul class="animate-ball">
				<li class="ball"></li>
				<li class="ball"></li>
				<li class="ball"></li>
				<li class="ball"></li>
				<li class="ball"></li>
			</ul>
		</section>
		<section class="portfolio-single">
			<div class="container">
				<div class="portfolio-single-wrapper">
					<div class="port-header">
						
							<h2 class="title">
								ആയുർവേദ മരുന്നും ആയുർവേദ കുളിയും 
							</h2>
						
					</div>

					<div class="portfolio-content" >
						<div class="feature-image">
							<img src=" {% static 'assets\media\portfolio\pexels-pixabay-51953.jpg' %} " alt="portfolio">
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="content-inner"  style="border-right: 0px solid #efe7e7;">
									<p style="text-align: justify;padding-right: 8px;">ശാസ്ത്രം വളരെ പുരോഗമിച്ചുട്ടുണ്ടെന്നാലും ആയുർവേദ മരുന്നും അത്തിന്റെ  മഹത്വവും വളരെ വലുതാണ്. MOM’S LAP ശ്രേഷ്ഠമായ ആയുർവേദ ചികിത്സ രീതികളാണ് അമ്മയുടെയും കുഞ്ഞിന്റെയും ആരോഗ്യ സംരക്ഷണനത്തിനായി ഉപയോഗിച്ച് വരുന്നത്. വിദഗ്ദരായ ഡോക്ടർമാരിയുടെ കൃത്യമായ ഇടവേളയിലെ സന്ദർശനവും സ്ഥിരമായ വിദഗ്ധ പരിചരണവും പ്രസവാനന്തര ചികിത്സകൾക് വലിയൊരു മുതൽക്കൂട്ടാണ്. ആയുർവേദ ഡോക്ടർമാരുടെ നിർദ്ദേശപ്രകാരമുള്ള മരുന്നുകളും കഷായങ്ങളും ആയുർവേദ കുളിയും അമ്മയുടെ ശാരീരികവും മാനസികവുമായ ചെറുത്തുനില്പിൻ സഹായകരമാവുന്നു.</p>
								</div>
							</div>
							</div>
					</div>
					

					<ul class="portfolio-nav">
						<li class="prev">
							<i class="ei ei-arrow_left"></i>
							<a href="{% url 'Specialities_2' %}">Previous</a>
						</li>

						<li class="next">
							<a href="{% url 'Specialities_2' %}">Next</a>
							<i class="ei ei-arrow_right"></i>
						</li>
					</ul>
				


					<div class="related-portfolio">
						<div class="section-title text-center">
							<h3 class="sub-title">Specialities</h3>
							<h2 class="title">Releted Specialities</h2>
						</div>


						<div class="swiper-container" id="related-portfolio" data-speed="700" data-autoplay="5000" data-perpage="2" data-space="30" data-breakpoints='{"1024": {"slidesPerView": 2}, "768": {"slidesPerView": 1}}'>
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="portfolio-item">
										<div class="feature-image">
											<a href=" {% static 'assets/portfolio-single.html' %} ">
												<img src=" {% static 'assets\media\portfolio\pexels-pixabay-51953.jpg' %} " alt="portfolio">
											</a>
										</div>

										<div class="port-info">
											<h3><a href="#">ആയുർവേദ മരുന്നും ആയുർവേദ കുളിയും </a></h3>

											
										</div>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="portfolio-item">
										<div class="feature-image">
											<a href=" {% static 'assets/portfolio-single.html' %} ">
												<img src=" {% static 'assets\media\portfolio\pexels-pixabay-415824.jpg' %} " alt="portfolio">
											</a>
										</div>

										<div class="port-info">
											<h3><a href="#">NORMAL/VIP പാക്കേജുകൾ </a></h3>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			
		</section>




	</div>

	<script src=" {% static 'assets/dependencies/jquery/jquery.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/bootstrap/js/bootstrap.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/swiper/js/swiper.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/jquery.appear/jquery.appear.js' %} "></script>
	<script src=" {% static 'assets/dependencies/wow/js/wow.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/countUp.js/countUp.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/isotope-layout/isotope.pkgd.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/imagesloaded/imagesloaded.pkgd.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/jquery.parallax-scroll/js/jquery.parallax-scroll.js' %} "></script>
	<script src=" {% static 'assets/dependencies/magnific-popup/js/jquery.magnific-popup.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/gmap3/js/gmap3.min.js' %} "></script>
	<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&amp;ver=2.1.6'></script>

	<script src=" {% static 'assets/js/header.js' %} "></script>
	<script src=" {% static 'assets/js/app.js' %} "></script>

</body>

{% endblock %}

</html>