{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Team — Mom's Lap</title>

	<link rel="apple-touch-icon" sizes="180x180" href=" {% static 'assets/img/fav/apple-touch-icon.png' %} ">
	<link rel="icon" type="image/png" sizes="32x32" href=" {% static 'assets/img/fav/favicon-32x32.png' %} ">
	<link rel="icon" type="image/png" sizes="16x16" href=" {% static 'assets/img/fav/favicon-16x16.png' %} ">
	<link rel="mask-icon" href=" {% static 'assets/img/fav/safari-pinned-tab.svg' %} " color="#fa7070">

	<meta name="msapplication-TileColor" content="#fa7070">
	<meta name="theme-color" content="#fa7070">

	<link rel="stylesheet" href=" {% static 'assets/dependencies/fontawesome/css/all.min.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/swiper/css/swiper.min.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/wow/css/animate.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/magnific-popup/css/magnific-popup.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/components-elegant-icons/css/elegant-icons.min.css' %} " type="text/css">
	<link rel="stylesheet" href=" {% static 'assets/dependencies/simple-line-icons/css/simple-line-icons.css' %} " type="text/css">

	<link rel="stylesheet" href=" {% static 'assets/css/app.css' %} " type="text/css">

	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&amp;family=Satisfy&amp;display=swap" rel="stylesheet">



</head>

<body id="home-version-1" class="home-version-1" data-style="default">

	<a href="#main_content" data-type="section-switch" class="return-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>

	<div class="page-loader">
		<div class="loader">
			<div class="blobs">
				<div class="blob-center"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
				<div class="blob"></div>
			</div>
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
				<defs>
					<filter id="goo">
						<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
						<feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
						<feBlend in="SourceGraphic" in2="goo" />
					</filter>
				</defs>
			</svg>

		</div>
	</div>

	<div id="main_content">

		<section class="page-banner">
			<div class="container">
				<div class="page-title-wrapper">
					<h1 class="page-title">Our Team</h1>

					<ul class="bradcurmed">
						<li><a href="{% url 'Home' %}" rel="noopener noreferrer">Home</a></li>
						<li>Team</li>
					</ul>
				</div>
			</div>

			<svg class="circle wow pixFadeLeft" data-parallax='{"x" :150}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="950px" height="950px">
				<path fill-rule="evenodd" stroke="rgb(250, 112, 112)" stroke-width="100px" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.051" fill="none" d="M450.000,50.000 C670.914,50.000 850.000,229.086 850.000,450.000 C850.000,670.914 670.914,850.000 450.000,850.000 C229.086,850.000 50.000,670.914 50.000,450.000 C50.000,229.086 229.086,50.000 450.000,50.000 Z" />
			</svg>

			<ul class="animate-ball">
				<li class="ball"></li>
				<li class="ball"></li>
				<li class="ball"></li>
				<li class="ball"></li>
				<li class="ball"></li>
			</ul>
		</section>
		
		<section class="teams-single">
			<div class="container">
				<div class="section-title text-center">
					<h3 class="sub-title wow pixFadeUp">Meet The Team</h3>
					<h2 class="title wow pixFadeUp" data-wow-delay="0.3s">Awesome Team</h2>
				</div>

				
				<div class="row">
					{% for doctors in doctors %}
					<div class="col-lg-4 col-md-6">
						<div class="team-member wow pixFadeUp" data-wow-delay="0.3s">
							<div class="member-avater">
								<img src=" {{doctors.image.crop.370x390}} " alt="avater">

								<ul class="member-social">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>

							<div class="team-info">
								<h3 class="name">Dr. {{doctors.name}}</h3>
								<h4 class="job">{{doctors.department}}</h4>
							</div>
						</div>
						
					</div>
					{% endfor %}			
				</div>
				
			</div>

		</section>

	</div>

	<script src=" {% static 'assets/dependencies/jquery/jquery.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/bootstrap/js/bootstrap.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/swiper/js/swiper.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/jquery.appear/jquery.appear.js' %} "></script>
	<script src=" {% static 'assets/dependencies/wow/js/wow.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/countUp.js/countUp.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/isotope-layout/isotope.pkgd.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/imagesloaded/imagesloaded.pkgd.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/jquery.parallax-scroll/js/jquery.parallax-scroll.js' %} "></script>
	<script src=" {% static 'assets/dependencies/magnific-popup/js/jquery.magnific-popup.min.js' %} "></script>
	<script src=" {% static 'assets/dependencies/gmap3/js/gmap3.min.js' %} "></script>
	<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&amp;ver=2.1.6'></script>

	<script src=" {% static 'assets/js/header.js' %} "></script>
	<script src=" {% static 'assets/js/app.js' %} "></script>

</body>

{% endblock %}

</html>